/* css variable for light and dark mode */
:root {
  --body-color: rgb(252, 252, 252);
  --border-color: rgba(156, 156, 156, 0.644);
  --shadow-color: rgba(0, 0, 0, 0.404);
  --nav-body--color: rgba(255, 255, 255, 0.32);
  --main-text-color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    --body-color: rgb(17, 16, 41);
    --border-color: rgba(212, 212, 212, 0.37);
    --shadow-color: rgba(204, 204, 204, 0.404);
    --nav-body--color: rgba(54, 54, 85, 0.32);
    --main-text-color: rgb(255, 255, 255);
  }
}

/* css variable for responsive size */
:root {
  --nav-height: 4.8rem;
}

@media screen and (max-width: 968px) {
  :root {
    --nav-height: 4.5rem;
  }
  .nav-links{
    display: none;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;

}

body {
  background-color: var(--body-color);
  color: var(--main-text-color);

}

.desktop-nav {
  background: var(--nav-body--color);
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0 4px 30px var(--shadow-color);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid var(--border-color);
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  1rem .5rem;
  transform: .3s;
}

.mobile-nav {
  top: 0;
  right: -500%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  backdrop-filter: blur(4);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  transition: .3s;

}
.close-icon{
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  z-index: 1000;
}

.side-slide {
  position: absolute;
  right: 0;
  width: 20rem;
  height: 100vh;
  background-color: var(--body-color);
  transition: .4s;
}
.show-menu{
right: 0;
transition: .5s;
}