:root {
  --body-color: rgb(231, 230, 230);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: rgb(17, 16, 41);
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* body{
  background-color: var(--background-color);
} */